# Operations

There are many useful operations with pandas that don't fall into any distinct category.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head()

### Info on Unique Values

In [ ]:
df['col2'].unique()

In [ ]:
len(df['col2'].unique())

In [ ]:
df['col2'].nunique()

In [ ]:
df['col2'].value_counts()

### Selecting Data

In [ ]:
#Select from DataFrame using criteria from multiple columns
newdf = df[(df['col1']>2) & (df['col2']==444)]

In [ ]:
newdf

### Applying Functions

In [ ]:
df['col1'].sum()

In [ ]:
def times2(x):
    return x*2

In [ ]:
df['col1'].apply(times2)

In [ ]:
df['col3'].apply(len)

In [ ]:
df['col2'].apply(lambda  x: x**0.5)

**Get column and index names:**

In [ ]:
df.columns

In [ ]:
df.index

**Permanently Removing a Column**

In [ ]:
df.drop('col1', axis=1)

In [ ]:
df

In [ ]:
del df['col1']

In [ ]:
df

**Sorting and Ordering a DataFrame:**

In [ ]:
df.sort_values(by='col2') #inplace=False by default

**Find Null Values or Check for Null Values**

In [ ]:
df = pd.DataFrame({'col1':[1,2,3,np.nan],
                   'col2':[np.nan,555,666,444],
                   'col3':['abc','def','ghi','xyz']})
df.head()

In [ ]:
df.isnull()

In [ ]:
# Drop rows with NaN Values
df.dropna()

**Filling in NaN values with something else:**

In [ ]:
df = pd.DataFrame({'col1':[1,2,3,np.nan],
                   'col2':[np.nan,555,666,444],
                   'col3':['abc','def','ghi','xyz']})
df.head()

In [ ]:
df.fillna('FILL')